<div class="nav">
    <div class="image-container">
        <img
          class="oscillate"
          src="../../assets/images/compass-rose.png"
          (click)="onClick($event)"
        >        
    </div>
    <div class="menu-container">
        <ul class="nav-menu">
            <li class="nav-menu-link">link one</li>
            <li class="nav-menu-link">link two</li>
            <li class="nav-menu-link">link three</li>
            <li class="nav-menu-link">link four</li>
        </ul>        
    </div>
</div>
