
.subcontainer {
    display: flex;
    flex-wrap: nowrap;
    height: 200px;
    
    .tile-container {
        height: 200px;
        width: 200px;
        padding: 10px;
        font-size: 1.5em;
        flex: 0 0 auto;
        margin-right: 5px;
    }
}
