.container {
//    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 50px 250px auto 300px 100px;
    grid-gap: 10px;

    .nav, .tiles, .footer {
        grid-column: 1 / -1;
    }
    
    .face {
        grid-column: 1 / 5;
        grid-row: 2 / span 2;
    }
    .title, .main-content {
        grid-column: 5 / -1;
    }

    .nav {
        background-color: mistyrose;
    }
    
    .title {
        background-color: pink;
    }
    
    .face {
        background-color: gold;
    }
    
    .main-content {
        background-color: lightblue;
    }
    
    .footer {
        background-color: gray;
    }
}

@media (max-width: 500px) {

    .container {
        
        .face {
            grid-column: 1 / -1;
            grid-row: 5 / span 1;
        }

        .title, .main-content {
            grid-column: 1 / -1;
        }
        
    }
}
/*
.row {
    padding: 20px;
}

.left-col {
//    background: radial-gradient(farthest-side at 45% 60%, rgba(241,116,31,1), rgba(241,116,31,0.4), rgba(128,128,0,0.0));
    color: white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;

}

h1.hi-my-name-is {
    margin-top: 10px;
    font-size: 30px;
}

.right-col {
    color: white;
    font-size: 1.3em;
}

img.profile-photo {
    width: 75%;
    margin: 10px 0 10px 0;
    border-radius: 20px;
}

.tagline, .main-nav {
    font-size: 1.3em;
}

.main-nav {
    border-radius: 10px;
    padding: 10px;
}
*/
