.left-col {
    background: radial-gradient(farthest-side at 25% 60%, rgba(241,116,31,1), rgba(241,116,31,0.4), rgba(128,128,0,0.0));
    color: white;
    border-radius: 20px;
}

h1.hi-my-name-is {
    font-size: 24px;
}

.right-col {
    background: white;
    height: 100%;
}