:host(.main-content) {
    grid-row: 2 / 3;
    grid-column: 3 / -1;
    padding-left: 10px;
    padding-top: 40px;
    color: white;
    background-color: lightblue;
}

@media only screen and (max-width: 500px) {
    :host(.main-content) {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        padding-top: 0;
    }
}